@import "tools";
@import "variables";
@import "tailwind";

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  gap: 8px;

  @media (min-width: 768px) {
    align-items: center;
    flex-direction: row;
  }
}

.selection-btn {
  @include disableSelection;
  cursor: pointer;
  appearance: none;
  outline: none;
  color: $texto-cinza;
  background: transparent;
  border: solid 1px #383838;
  height: size(5);
  padding: 12px size(2);
  font-family: inherit;
  font-size: 13px;
  border-radius: size(1);
  transition: color $default-anim-time * 3, box-shadow $default-anim-time * 3;
  font-weight: 400;

  i {
    font-size: size(3);

    .ri.ri-bard-fill {
      color: orange;
    }

    .ri.ri-arrow-up-down-line {
      color: aquamarine;
    }

    .ri.ri-coins-fill {
      color: goldenrod;
    }
  }

  &.active {
    font-weight: 700;
    color: $texto-branco;
    box-shadow: 4px 4px 8px 0 #00000080, 4px 4px 8px 0 #ffffff1a inset;
    background: linear-gradient(to bottom right,
        rgba(255, 255, 255, 0.2) 0%,
        rgba(255, 255, 255, 0) 100%);
  }
}

.create-btn {
  cursor: pointer;
  appearance: none;
  outline: none;
  background: transparent;
  border: 1px solid #10b981;
  height: 40px; // size(5) = 5 * 8px = 40px
  padding: 12px 16px; // size(2) = 2 * 8px = 16px
  font-family: inherit;
  font-size: 13px;
  border-radius: 8px; // size(1) = 1 * 8px = 8px
  transition: color 100ms * 3, box-shadow 100ms * 3;
  font-weight: 400;

  i {
    font-size: 24px; // size(3) = 3 * 8px = 24px
    color: #10b981;
  }

  &.active {
    font-weight: 700;
    color: #eeeeee;
    box-shadow: 4px 4px 8px 0 #00000080, 4px 4px 8px 0 #ffffff1a inset;
    background: linear-gradient(to bottom right, #10b98133 0%, rgba(9, 143, 76, 0) 100%);
  }
}