@import "tailwind";
@reference "tailwindcss";

$inner-width: 100%;
$inner-height: 76%;

.label-progresso {
  padding-top: 0.5em;
}

.item-progresso {
  padding-top: 2.5em;
  padding-bottom: 1em;
}

.alternative-progress-label {
  font-size: 18px;
  margin: 0px;
}

.alternative-progress-item {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
}

.alternative-progress-item:last-of-type {
  border: none;
}
