:host {
  display: block;
  width: 100%;
  max-width: 100%;
}

.monthly-points-goal-root {
  width: 100%;
  max-width: 100%;

  c4u-kpi-circular-progress {
    display: block;
    width: 100%;
    max-width: 100%;
  }
}
