@import "tools";

:host {
  display: block;
}

.kpi-circular-progress {
  @include flexCenter;
  flex-direction: column;
  gap: 12px;
}

.kpi-label {
  font-size: 14px;
  font-weight: 600;
  color: #333;
  text-align: center;
}
