@import "tools";

:host {
  display: block;
  width: 200px;
}

.kpi-circular-progress {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  width: 100%;
}

.kpi-label {
  font-family: 'Urbanist', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #eeeeee;
  text-align: center;
  letter-spacing: 0.36px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.kpi-progress-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
}
