<div flex direction="column" hAlign="center" vAlign="center">
  <c4u-animacao-cid [text]="countdown" *ngIf="showCountdown"></c4u-animacao-cid>
  <div flex flexItem="1" direction="column" *ngIf="!showCountdown" [gap]="40" hAlign="center" vAlign="center">
    <h1>Chegamos ao final emocionante da Temporada 1!</h1>
    <span>A <strong>auditoria dos resultados está em andamento</strong> para garantir total transparência e precisão.</span>
    <span>Agora, a grande notícia: uma nova temporada acaba de começar! 💫</span>
    <span>O painel do game permanecerá inacessível por alguns dias enquanto terminamos alguns ajustes, mas você já está pontuando pelas atividades na nova temporada.</span>
    <span>É a sua chance de começar a nova temporada com o pé direito!</span>
  </div>
</div>
