@import "variables";
@import "tools";
@import "tailwind";
@reference "tailwindcss";

$select-bg-color: rgba(0, 9, 20, 0.25);
$select-border-color: #83878B;

.ng-select {
    font-size: 14px;
    font-weight: 700;
}

.ng-select.ng-select-opened>.ng-select-container {
    background: $select-bg-color;

}

.ng-select.ng-select-opened>.ng-select-container:hover {
    box-shadow: none
}

.ng-select.ng-select-opened>.ng-select-container .ng-arrow {
    transform: rotate(180deg);
    top: -3px;
}

.ng-select.ng-select-focused:not(.ng-select-opened)>.ng-select-container {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px rgba(0, 126, 255, 0.1)
}

.ng-select.ng-select-disabled>.ng-select-container {
    background-color: #f9f9f9
}

.ng-select .ng-has-value .ng-placeholder {
    display: none
}

.ng-select .ng-select-container {
    color: inherit;
    background: $select-bg-color;
    border: 1px solid $select-border-color;
    border-radius: 8px;
    min-height: size(4);
    align-items: center;
    gap: size(1);
    padding: 0 size(1);
}

.ng-select .ng-select-container:hover {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06)
}

.ng-select .ng-select-container .ng-value-container {
    align-items: center;
}

[dir="rtl"] .ng-select .ng-select-container .ng-value-container {
    padding: 0 size(1);
}

.ng-select .ng-select-container .ng-value-container .ng-placeholder {
    color: #999
}

.ng-select.ng-select-single .ng-select-container {
    @apply h-12 md:h-8;
}

.ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input {
    top: 5px;
    left: 0;
    padding-left: size(2);
    padding-right: 50px
}

[dir="rtl"] .ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input {
    padding-right: size(2);
    padding-left: 50px
}

.ng-select.ng-select-multiple.ng-select-disabled>.ng-select-container .ng-value-container .ng-value {
    background-color: #f9f9f9;

}

.ng-select.ng-select-multiple.ng-select-disabled>.ng-select-container .ng-value-container .ng-value .ng-value-label {
    padding: 0 5px
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container {
    padding-top: 5px;
    padding-left: 7px
}

[dir="rtl"] .ng-select.ng-select-multiple .ng-select-container .ng-value-container {
    padding-right: 7px;
    padding-left: 0
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value {

    margin-bottom: 5px;
    color: #333;
    background-color: #ebf5ff;

    margin-right: 5px
}

[dir="rtl"] .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value {
    margin-right: 0;
    margin-left: 5px
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value.ng-value-disabled {
    background-color: #f9f9f9
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value.ng-value-disabled .ng-value-label {
    padding-left: 5px
}

[dir="rtl"] .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value.ng-value-disabled .ng-value-label {
    padding-left: 0;
    padding-right: 5px
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value .ng-value-label {
    display: inline-block;
    padding: 1px 5px
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value .ng-value-icon {
    display: inline-block;
    padding: 1px 5px
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value .ng-value-icon:hover {
    background-color: #d1e8ff
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-input {
    padding: 0 0 3px 3px
}

[dir="rtl"] .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-input {
    padding: 0 3px 3px 0
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-input>input {
    color: #000
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-placeholder {
    top: 5px;
    padding-bottom: 5px;
    padding-left: 3px
}

[dir="rtl"] .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-placeholder {
    padding-right: 3px;
    padding-left: 0
}

.ng-select .ng-clear-wrapper {
    color: #999
}

.ng-select .ng-clear-wrapper:hover .ng-clear {
    color: #D0021B
}

.ng-select .ng-spinner-zone {
    padding: 5px 5px 0 0
}

[dir="rtl"] .ng-select .ng-spinner-zone {
    padding: 5px 0 0 5px
}

.ng-select .ng-arrow-wrapper {
    @include square(size(3));
    display: flex;
    align-items: center;
    justify-content: center;
}

[dir="rtl"] .ng-select .ng-arrow-wrapper {
    padding-left: 5px;
    padding-right: 0;
}

.ng-select .ng-arrow-wrapper:hover .ng-arrow {
    border-color: darken($texto-branco, 15) transparent transparent;
}

.ng-select .ng-arrow-wrapper .ng-arrow {
    border: solid 5px;
    border-color: $texto-branco transparent transparent;
    top: 3px;
}

.ng-dropdown-panel {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
    left: 0;
    border: 1px solid $select-border-color;
    border-radius: 8px;
    backdrop-filter: blur(4px);
}

.ng-dropdown-panel.ng-select-top {
    bottom: 100%;


    margin-bottom: -1px
}

.ng-dropdown-panel.ng-select-right {
    left: 100%;
    top: 0;


    margin-bottom: -1px
}

.ng-dropdown-panel.ng-select-bottom {
    top: 100%;
    margin-top: -1px
}

.ng-dropdown-panel.ng-select-left {
    left: -100%;
    top: 0;
    margin-bottom: -1px
}

.ng-dropdown-panel .ng-dropdown-header {

    padding: 5px 7px
}

.ng-dropdown-panel .ng-dropdown-footer {

    padding: 5px 7px
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-optgroup {
    user-select: none;
    padding: 8px 10px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.54);
    cursor: pointer
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-optgroup.ng-option-disabled {
    cursor: default
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-optgroup.ng-option-marked {
    background-color: #f5faff
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-optgroup.ng-option-selected,
.ng-dropdown-panel .ng-dropdown-panel-items .ng-optgroup.ng-option-selected.ng-option-marked {
    color: rgba(0, 0, 0, 0.54);
    background-color: #ebf5ff;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
    background-color: $select-bg-color;
    color: inherit;
    padding: size(1) size(2);
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option:first-child {
    padding-top: 12px;
    border-radius: size(1) size(1) 0 0;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option:last-child {
    border-radius: 0 size(1) size(1);
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected .ng-option-label,
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected.ng-option-marked .ng-option-label {
    font-weight: 600
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {
    background-color: $background-escuro;
    color: inherit;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-disabled {
    color: #ccc
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-child {
    padding-left: 22px
}

[dir="rtl"] .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-child {
    padding-right: 22px;
    padding-left: 0
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option .ng-tag-label {

    font-weight: 400;
    padding-right: 5px
}

[dir="rtl"] .ng-dropdown-panel .ng-dropdown-panel-items .ng-option .ng-tag-label {
    padding-left: 5px;
    padding-right: 0
}

[dir="rtl"] .ng-dropdown-panel {
    direction: rtl;
    text-align: right
}

.ng-select.ng-select-large {
    font-size: 18px;

    &.ng-select-single .ng-select-container {
        height: size(6);
    }

    .ng-select-container {
        background: $bg-color;
        min-height: size(6);
        gap: size(2);
        padding: 0 size(2);
    }

    .ng-value-container {
        input {
            color: white;
            font-size: 18px;
            font-weight: bold;
            padding-top: 0.5em !important;
        }
    }
}