@function size($value) {
  @return $value * 8px;
}

@mixin fullSize() {
  width: 100%;
  height: 100%;
}

@mixin fullHeight() {
  height: 100%;
}

@mixin fullWidth() {
  width: 100%;
}

@mixin square($val) {
  width: $val;
  height: $val;
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexColumn {
  display: flex;
  flex-direction: column;
}

@mixin flexRow {
  display: flex;
  flex-direction: row;
}

@mixin disableSelection() {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
