//Configurações
$default-anim-time: 100ms;
$side-menu-size: 318px;
$side-right-menu-size: 220px;

//Cores
$texto-branco: #eeeeee;
$cor-seta-menu: #f0f0f0;
$inativo: #83878b;
$bg-color: #000914;
$texto-cinza: #b2b2b2;
$background-escuro: #23242a;
$text-red: #e34642;
$text-orange: #f98d34;
$text-light-blue: #46b1ff;
$text-light-green: #37cc42;
$text-light-white: #eeeeee;
